#conitainer{
	

}
#logo{
	width:200px;
}
#loginBox{
	width:200px;
	margin:100px auto;
	background-color:#fff;

}
#loginBox a p{
	width:160px;
	margin:0 auto;
}

#tweetBox{
	width:200px;
	margin:100px auto;
	background-color:#fff;

}
#moss{
	
}
